body {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#calendars > * {
  width: 300px;
  display: inline-block;
}

#calendar1 {
  width: 350px;
}

.fc-content {
  text-align: center !important;
}

#calendar2 .fc-axis {
  display: none;
}

#calendar3 .fc-axis {
  display: none;
}

#calendar4 .fc-axis {
  display: none;
}

